<html>

<head>
	{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="Flat-UI-master/css/flat-ui.css") }}">
	<title>{% block title %}{% endblock %}</title>
		{% endblock %}

</head>

<body>
	<div class="wrapper">
	<div class="container-fluid" >

	<div class="navbar">
		<div class="navbar-inner"
 {% if session['email'] %}

  <!-- Sign-in status-->
  <div align=right>You are currently signed in as: {{ session['email'] }}.</div>

	{% else %}
	  <div align=right><a href="{{ url_for('login') }}">Click here to login.</a></div>

	{% endif %}
</div>
</div>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<strong ><font color="red">{{ message }}</font></strong>
			{% endfor %}
		{% endif %}
	{% endwith %}


<div class="demo-browser-content">
<div class="palette">

	{% block content %}{% endblock %}

</div>
</div>
</div>
</div>
</body>
</html>