{% extends "base.html" %}

{% block content %}

<div class="hero-unit">
<h1> testing </h1>
</div>


  {% for story in story_list %}


    <div class="row">
      <h5><a href="{{ story.url }}"> {{ story.title }}</a> ({{ story.source }})</h5>
      </div>
    <div class="row">
      <div class="span10">
	  {{ story.abstract }}
	</div>
</div>



	    <div class="row">

    <div class="span2"> 
	  <form action="{{ url_for('like') }}" method="post">
		<input type="hidden" name="story_id" value={{ story.id  }}>
		  <button  class="btn-large" type="submit" value="Submit">Yes</button></form>
		</div> <!-- span4 -->
	<div class="span2">
		<form action="{{ url_for('dislike') }}" method="post">
		  <input type="hidden" name="story_id" value={{ story.id }}>
			<button  class="btn-large" type="submit" value="Submit">No</button></form>
		</div><!--span4-->

    </div><!--endrow-->

{% endfor %}




{% endblock %}